<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                   
                    <div class="card-body">
                    
  
                      <div class="row">
                          <div class="col-md-9 company-name">AdTheorent Holding Company, Inc.</div>
                          <div class="col-md-3 company-logo"> <img src="/assets/img/Adtheorent-logo.png"/></div>
  
  
  
                      </div>
  
                      <p>AdTheorent is a privacy-forward, machine-learning powered programmatic
                           advertising company. Put simply, the company uses machine learning and data 
                           science to target digital ads based on non-individualized predictive scores.
                            Sophisticated data-driven advertisers who know digital and expect their digital
                             campaigns to drive tangible business results are AdTheorent’s biggest clients.</p>
                      
                    </div>
                </div>
            </div>
  
            <div class="row">
              <div class="col-md-4">
                  <div class="card blue-clr cardbg">
  
                      <h4>26k</h4>
                      <p>Total Viewers</p>
  
                      </div>
                      </div>
  
                      <div class="col-md-4">
                          <div class="card darkblue-clr cardbg">
          
                              <h4>2.49</h4>
                              <p>Average Engagement Time</p>
          
                              </div>
                              </div>
  
  
                              <div class="col-md-4">
                                  <div class="card orange-clr cardbg">
                  
                                      <h4>245</h4>
                                      <p>Total published documents</p>
                  
                                      </div>
                                      </div>
                      </div>
  
  
  
  
  
  
            <div class="col-md-12">
  
              <h3>Most Access Document List</h3>
                <div class="card ">
                  
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                      Doc ID
                                    </th>
                                    <th>
                                      Analyst name
                                    </th>
                                    <th>
                                      Date published
                                    </th>
                                    <th>
                                      Visitors
                                    </th>
                                    <th>
                                        
  Avg. Eng. Time
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                          AD1245
                                        </td>
                                        <td>
                                          John Roy
                                        </td>
                                        <td>
                                          14 August 2023
                                        </td>
                                        <td>
                                            25
                                        </td>
                                        <td>
                                          45 Minutes
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        AD1245
                                      </td>
                                      <td>
                                        John Roy
                                      </td>
                                      <td>
                                        14 August 2023
                                      </td>
                                      <td>
                                          25
                                      </td>
                                      <td>
                                        45 Minutes
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        AD1245
                                      </td>
                                      <td>
                                        John Roy
                                      </td>
                                      <td>
                                        14 August 2023
                                      </td>
                                      <td>
                                          25
                                      </td>
                                      <td>
                                        45 Minutes
                                      </td>
                                  </tr>
  
                                  <tr>
                                      <td>
                                        AD1245
                                      </td>
                                      <td>
                                        John Roy
                                      </td>
                                      <td>
                                        14 August 2023
                                      </td>
                                      <td>
                                          25
                                      </td>
                                      <td>
                                        45 Minutes
                                      </td>
                                  </tr>
  
                                  <tr>
                                      <td>
                                        AD1245
                                      </td>
                                      <td>
                                        John Roy
                                      </td>
                                      <td>
                                        14 August 2023
                                      </td>
                                      <td>
                                          25
                                      </td>
                                      <td>
                                        45 Minutes
                                      </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  