<div class="main-content">
  <div class="container-fluid">
      <div class="row">

          <div class="col-md-12">

            <h3>Most Access Document List</h3>
              <div class="card ">
                <div>
                  <mat-paginator [length]="this.pageItems.length"
                              [pageSize]="10"
                              [pageSizeOptions]="[10, 25, 50, 100]"
                              aria-label="Select page"
                              (page)="OnPageChange($event)">
                  </mat-paginator>
  
                </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                    Visitor ID
                                  </th>
                                  <th>
                                    Session Count
                                  </th>
                                  <th>
                                    avgSessionDuration
                                  </th>
                                  <th>
                                    City
                                  </th>
                                  <th>
                                    Country
                                  </th>
                                  <th>
                                    Type
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of pageSlice">
                                      <td>
                                        <a (click)="onVisitorClick(item.visitorId)">{{ item.visitorId }}</a>                                      </td>
                                      <td>
                                    {{item.sessionCount}}
                                      </td>
                                      <td>
                                        {{item.avgSessionDuration}}
                                      </td>
                                      <td>
                                        {{item.city}}
                                      </td>
                                      <td>
                                        {{item.country}}
                                      </td>
                                      <td>
                                        {{item.type}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

