<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <!-- <div class="col-md-12">
              <div class="card">
                 
                  <div class="card-body">
                  

                    <div class="row">
                        <div class="col-md-9 company-name">AdTheorent Holding Company, Inc.</div>
                        <div class="col-md-3 company-logo"> <img src="/assets/img/Adtheorent-logo.png"/></div>



                    </div>

                    <p>AdTheorent is a privacy-forward, machine-learning powered programmatic
                         advertising company. Put simply, the company uses machine learning and data 
                         science to target digital ads based on non-individualized predictive scores.
                          Sophisticated data-driven advertisers who know digital and expect their digital
                           campaigns to drive tangible business results are AdTheorent’s biggest clients.</p>
                    
                  </div>
              </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                <div class="card blue-clr cardbg">

                    <h4>26k</h4>
                    <p>Total Viewers</p>

                    </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card darkblue-clr cardbg">
        
                            <h4>2.49</h4>
                            <p>Average Engagement Time</p>
        
                            </div>
                            </div>


                            <div class="col-md-4">
                                <div class="card orange-clr cardbg">
                
                                    <h4>245</h4>
                                    <p>Total published documents</p>
                
                                    </div>
                                    </div>
                    </div> -->



          <!-- <div class="col-md-12">
            
            <ag-grid-angular
              style="width: 100%; height: 100%"
              class="ag-theme-alpine"
              [rowData]="rowData"
              [columnDefs]="colDefs"
              >
              </ag-grid-angular>
          </div>           -->


          <div class="col-md-12">

            <h3>Most Access Document List</h3>
              <div class="card ">
                
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                    Visitor ID
                                  </th>
                                  <th>
                                    Session Count
                                  </th>
                                  <th>
                                    avgSessionDuration
                                  </th>
                                  <th>
                                    City
                                  </th>
                                  <th>
                                    Country
                                  </th>
                                  <th>
                                    Type
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of visitorData">
                                      <td>
                                        <a (click)="onVisitorClick(item.visitorId)">{{ item.visitorId }}</a>                                      </td>
                                      <td>
                                    {{item.sessionCount}}
                                      </td>
                                      <td>
                                        {{item.avgSessionDuration}}
                                      </td>
                                      <td>
                                        {{item.city}}
                                      </td>
                                      <td>
                                        {{item.country}}
                                      </td>
                                      <td>
                                        {{item.type}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

