.cus-btn-secondary.cus-rounded-pill {
    /* Background color and text color */
    background-color: #6c757d;
    color: #fff;

    /* Border */
    border: 2px solid #6c757d;
    border-radius: 50px; /* This creates the rounded-pill shape */

    /* Padding */
    padding: 0.5rem 1rem; /* Adjust padding as needed */

    /* Hover state */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.cus-btn-secondary.cus-rounded-pill:hover {
    background-color: #5a6268; /* Change the background color on hover */
    border-color: #545b62; /* Change the border color on hover */
    color: #fff; /* Change text color on hover */
}

/* You can customize these styles further as needed */


.search-items{
    box-sizing: border-box;
    position: absolute;
    z-index: 999;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 1);
}


ul {
    list-style: none;
    padding-left: 3%;
    font-weight: bold;
    
  }
li {
    margin-top: 10px;
    margin-bottom: 10px;
}  

.scrollable-list {
    max-height: 200px; 
    overflow-y: auto;
  }
  