<nav
  class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
>
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:void(0)">{{ getTitle() }}</a>
    </div>

    <div class="d-flex align-items-center">
      <div *ngIf="showSearhBox">
        <form class="form-inline mb-2">
          <input
            class="form-control mr-sm-2"
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
            #searchItems
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
        <div *ngIf="showDropdown" class="search-items">
          <ul *ngIf="filteredData.length > 0" class="scrollable-list">
            <li *ngFor="let item of filteredData" (click)="selectItem(item)">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>

      <div class="ml-3"></div>
      <mat-form-field>
        <mat-label>Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker" #dateRangeInput>
          <mat-hint>start- end </mat-hint>
          <input matStartDate placeholder="Start Date" #startDateInput />
          <input matEndDate placeholder="End Date" #endDateInput />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <div class="ml-3"></div>

      <button
        type="button"
        (click)="selectedDateRange()"
        class="cus-btn-secondary cus-rounded-pill"
      >
        Apply
      </button>
    </div>
    <div class="mr-3"></div>
  </div>
</nav>
