<div class="main-content">
  <div class="container-fluid">
      <div class="row">
       <h3>Sectors</h3>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success blue-clr">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Total Visitors</h4>
                      
                  </div>
               
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-warning darkblue-clr">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Average engagement time</h4>
                      
                  </div>
    
              </div>
          </div>
       
          </div>
    



      <div class="row">
        <h3>Companies</h3>
       </div>
       <div class="row">
       
           <div class="col-md-6">
           
                <div class="card z-index-2 ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 ">Website Views</h6>
               
                  </div>
                </div>
            
           </div>
           <div class="col-md-6">
               <div class="card card-chart">
                   <div class="card-header card-header-danger">
                       <div class="ct-chart" id="completedTasksChart"></div>
                   </div>
                   <div class="card-body">
                       <h4 class="card-title">Average Engagement Time</h4>
                     
                   </div>
                  
               </div>
           </div>
       </div>


      <div class="row">
        
          <div class="col-lg-12 col-md-12">
              <div class="card">
                 
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-blue">
                              <th>Country</th>
                              <th>Visitors</th>
                              <th>Most Visited Documents</th>
                              <th>Most Viewed City</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>USA</td>
                                  <td>25</td>
                                  <td>Com-sec24</td>
                                  <td>Oud-Turnhout</td>
                              </tr>
                              <tr>
                                <td>Germany</td>
                                  <td>25</td>
                                  <td>Com-sec24</td>
                                  <td>Oud-Turnhout</td>
                              </tr>
                              <tr>
                                <td>Australia</td>
                                <td>25</td>
                                <td>Com-sec24</td>
                                <td>Oud-Turnhout</td>
                              </tr>
                              <tr>
                                <td>United Kingdom</td>
                                <td>25</td>
                                <td>Com-sec24</td>
                                <td>Oud-Turnhout</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
