<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                 
                  <div class="card-body">
                  

                    <div class="row">
                        <div class="col-md-9 company-name">{{sector.industryName}}</div>
                        <!-- <div class="col-md-12 company-logo"> <img src="/assets/img/Cannabis.jpg"/></div> -->
                        <div class="col-md-12 company-logo"> <img [src]="sector.imageIcon"/></div>


                    </div> 

                    <p style="padding-top: 10px;">{{sector.sectorOverview}}</p>
                    <!-- <p style="padding-top: 10px;">The cannabis research platform offers global coverage of public and private companies spanning cultivation, retail, manufacturing, hemp, and ancillary services. As more states transition to adult-use sales and other countries legalize cannabis, the sector is expected to grow at 15% annually over the next decade. Our platform helps investors navigate the complex and heavily regulated architecture and identify the best opportunities in the burgeoning cannabis industry.</p> -->
                    
                  </div>
              </div>
          </div>

          <div class="row">
            <div class="col-md-4">
                <div class="card blue-clr cardbg">

                    <h4>{{sectorDetails.totalViewers}}</h4>
                    <p>Total Viewers</p>

                    </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card darkblue-clr cardbg">
        
                            <h4>{{sectorDetails.avgEngagementTime}}</h4>
                            <p>Average Engagement Time</p>
        
                            </div>
                            </div>


                            <div class="col-md-4">
                                <div class="card orange-clr cardbg">
                
                                    <h4>{{sectorDetails.documentPublishedCount}}</h4>
                                    <p>Total published documents</p>
                
                                    </div>
                                    </div>
                    </div>






          <div class="col-md-12">

            <h3>Most Access Document List</h3>
              <div class="card ">
                
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                    Doc ID
                                  </th>
                                  <th>
                                    Analyst name
                                  </th>
                                  <th>
                                    Date published
                                  </th>
                                  <th>
                                    Visitors
                                  </th>
                                  <th>
Avg. Eng. Time
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of sectorDetails.secDocDetails">
                                      <td>
                                        {{item.docId}}
                                      </td>
                                      <td>
                                        {{item.analystName}}
                                      </td>
                                      <td>
                                        {{item.publishedDate}}
                                      </td>
                                      <td>
                                          {{item.visitorCount}}
                                      </td>
                                      <td>
                                        {{item.avgTime}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
